<section class="intro-banner default" style="background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ header_background_image }}');">
  <div class="content">
      <h1 class="flexible">{{ title }}</h1>
  </div>
</section>
{{ if display_back_to_home }}
  <section class="default-content">
    <a class="back-home" href="{{ parent }}">Back to {{ parent:title }}</a>
    {{ content }}
  </section>
{{ /if }}
{{ if generalintro_section_title }}
  <section class="about default" id="about">
    <div class="row">
        <span class="section-label">{{ generalintro_section_title }}</span>
        <div class="content">
          <h2>{{ generalintro_section_lead }}</h2>
          <p class="text-medium">{{ generalintro_section_content }}</p>
        </div>
    </div>
  </section>
{{ /if }}

{{ if display_job_postings }}
  <section class="job_postings row">
    <ul>
      {{ collection from="job_postings" }}
        <li>
          <a href="{{ url }}">
            <h3>{{ title }}</h3>
            <span>View Job</span>
            <div class="meta">
              {{ partner_selection }} {{ title }} {{ /partner_selection }} {{ job_type }}
            </div>
          </a>
        
        </li>
      {{ /collection  }}
    </ul>
  </section>
{{ /if }}

{{ if careers_slideshow_title }}
  <section class="area testimonial" id="area">
    <div class="row">
      <span class="section-label">{{ testimonials_title }}</span>
      <div class="content">
        {{ testimonials_set }}
          <h2>{{ general_testimonial_intro }}</h2>
          <p class="text-small">{{ general_testimonial_source }}</p>
        {{ /testimonials_set }}
      </div>
    </div>
      <div class="gallery slideshow">
          {{ careers_slideshow_images }}
              <div class="slide-item">
                <img src="{{ url }}" />
              </div>
          {{ /careers_slideshow_images }}
      </div>
  </section>
{{ /if }}