<section class="intro-banner" style="background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{ background_image }}');">
    <div class="content">
        <h1 class="flexible">{{ title }}</h1>
        <h2>{{ header_content }}</h2>
    </div>
</section>
<section class="about" id="about">
    <div class="row">
        <span class="section-label">{{ about_title }}</span>
        <div class="content">
            <h2>{{ about_intro }}</h2>
            <p class="text-medium">{{ about_content }}</p>
        </div>
    </div>
</section>
<section class="partners" id="partners">
    <div class="row">
        <div class="container">
            <span class="section-label">{{ partners_title }}</span>
            <h2>{{ partners_intro }}</h2>
            <div>
                <nav class="tabs">
                    {{ partners }}
                        <input type="radio" id="tab-1-{{ index }}" name="tab-group-1" {{ if index === 0  }} checked {{ /if }}>
                        <label for="tab-1-{{ index }}">{{ partner_name }} <span>{{ partner_category }}</span></label>
                        <div class="content">
                            <div>
                                {{  if partner_logo }}
                                    {{ svg src="{{ partner_logo }}" }}
                                {{ /if }}
                                <h2>{{ partner_name }} </h2>
                                {{ if social_media }}
                                    <ul class="social_media">
                                    {{ social_media }} 
                                        {{ if instagram }}
                                            <li class="instagram"><a target="_blank" class="text-small" href="https://instagram.com/{{ instagram }}">{{ instagram }}</a></li>
                                        {{ /if }}
                                        {{ if facebook }}
                                            <li class="facebook"><a target="_blank" class="text-small" href="https://facebook.com/{{ facebook }}">{{ facebook }}</a></li>
                                        {{ /if }}
                                        {{ if twitter }}
                                            <li class="twitter"><a target="_blank" class="text-small"    href="https://twitter.com/{{ twitter }}">{{ twitter }}</a></li>
                                        {{ /if }}
                                    {{ /social_media }}
                                    </ul>                    
                                {{ /if }}
                                <p class="text-medium">{{ partner_description }}</p>
                                <a class="text-small external-url" href="{{ partner_url }}">Visit Website</a>
                            </div>
                            <img class="bg" src="{{ partner_bg }}" />
                        </div>
                    {{ /partners }}
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="map" id="map">
    <div class="content">
        <span class="section-label">{{ map_title }}</span>
        <h2>{{ map_intro }}</h2>
        <a class="directions text-small external-url" href="{{ directions_url }}">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 7L3 4V17L9 20L15 17L21 20V7L15 4L9 7Z" stroke="#618B4A" stroke-width="2"/>
                <path d="M15 4V17.5" stroke="#618B4A" stroke-width="2"/>
                <path d="M9 7V20" stroke="#618B4A" stroke-width="2"/>
            </svg>
            Get Directions
        </a>
    </div>
    <div id="map_visual">
        {{ partners }}
        <h4 class="marker" style="bottom:{{ map_y }}%; left: {{ map_x }}%;"><img src="{{ partner_bg }}" /> {{ partner_name }}</h4>
        {{ /partners }}
        <div>
            <img src="{{ map_image }}" />
            {{ partners }}
                <span class="mobile-display" style="bottom:{{ map_y }}%; left: {{ map_x }}%;">{{ increment from="1" }}</span>                
            {{ /partners }}
        </div>
    </div>
</section>
<section class="area" id="area">
    <span class="section-label">{{ area_title }}</span>
    <div class="content">
        <h2>{{ area_intro }}</h2>
        <div class="text-medium">{{ area_content }}</div>
    </div>
    <div class="gallery slideshow">
        {{ area_images }}
            <div class="slide-item">
                <img src="{{ url }}" />
            </div>
        {{ /area_images }}
    </div>
</section>
<section class="social" id="social">
    <span class="section-label">{{ social_title }}</span>
    <h2>{{ social_intro }}</h2>
        <div id="stream1" class="grid"></div>
    </div>
</section>