<!doctype html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="https://use.typekit.net/yfc7zuw.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/typetura.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://ig.instant-tokens.com/users/e43bd662-8a03-40a5-97b8-e0747d7ac7b1/instagram/17841401857240060/token.js?userSecret=fszi7hjakpxj4oi37imqs"></script>
    <script src="/js/instafeed.min.js" defer></script>
    <script src="/js/slick.min.js" defer></script>
    <script src="/js/site.js" defer></script>
</head>
<body>
    <nav class="main-nav"> 
        <ul>
            {{ nav:main_navigation }}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {{ /nav:main_navigation }}
        </ul>
    </nav>

    <section class="container">
        {{ template_content }} 
    </section>    

    <footer id="contact">
        <div class="row">
            <div>
                <span class="section-label">{{ footer:footer_title }}</span>
                <h2>{{ footer:footer_intro }}</h2>
            </div>
            <ul>
            {{ partners }}
                <li><a href="{{ partner_url }}">
                    {{ partner_name }} 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" d="M4 5H3V6V20V21H4H18H19V20V13H17V19H5V7H11V5H4Z" fill="#618B4A"/>
                        <path d="M13 4H20M20 4V11M20 4L11 13" stroke="#618B4A" stroke-width="2"/>
                    </svg>                        
                </a></li>
            {{ /partners }}
            </ul>
        </div>
        <span class="colophon">Copyright Fiddle Ridge, {{ now|format:Y }}  |  Privacy Policy</span>
    </footer>
</body>
</html>