<!doctype html>
<html>
<head>
    <script src="/js/typetura.min.js"></script>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    
    <title>Folding Mountain Landing</title>
    
    <link rel="stylesheet" href="https://use.typekit.net/yfc7zuw.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/site.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {{# <script type="text/javascript" src="https://ig.instant-tokens.com/users/e43bd662-8a03-40a5-97b8-e0747d7ac7b1/instagram/17841401857240060/token.js?userSecret=fszi7hjakpxj4oi37imqs"></script> #}}
    {{# <script type="text/javascript" src="https://ig.instant-tokens.com/users/ee9f01fa-7390-4950-9f7c-2722d1cfe225/instagram/17841400067560282/token.js?userSecret=alwq0qbfhhpsn8kmc8x04"></script> #}}
    <script type="text/javascript" src="https://ig.instant-tokens.com/users/e43bd662-8a03-40a5-97b8-e0747d7ac7b1/instagram/17841403456277264/token.js?userSecret=hdlq14vvhygdqjw0er3bqn"></script>
    <script src="/js/instafeed.min.js" defer></script>
    <script src="/js/slick.min.js" defer></script>
    <script src="/js/site.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83868191-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-83868191-1');
    </script>
</head>
<body>
    
    <div class="mobile-nav">
        <img class="logo" src="images/logo.svg" alt="Folding Mountain Landing" />
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav> 
            <span class="section-label">Links</span>
            <ul>
                {{ nav:main_navigation }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:main_navigation }}
            </ul>
            <span class="section-label">Partner Sites</span>
            <ul class="partners">
                {{ partners }}
                    <li><a href="{{ partner_url }}">
                        {{ partner_name }}
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M4 5H3V6V20V21H4H18H19V20V13H17V19H5V7H11V5H4Z" fill="#618B4A"/>
                            <path d="M13 4H20M20 4V11M20 4L11 13" stroke="#618B4A" stroke-width="2"/>
                        </svg>                        
                    </a></li>
                {{ /partners }}
            </ul>
        </nav>
    </div>

    <nav class="main-nav header-static"> 
        <ul>
            <li><img src="images/logo.svg" alt="Folding Mountain Landing" /></li>
            {{ nav:main_navigation }}
                <li><a href="{{ url }}">{{ title }}</a></li>
            {{ /nav:main_navigation }}
        </ul>
    </nav>

    <section class="container">
        {{ template_content }} 
    </section>    

    <footer id="contact">
        <div class="row">
            <div>
                <span class="section-label">{{ footer:footer_title }}</span>
                <h2>{{ footer:footer_intro }}</h2>
            </div>
            <ul>
            {{ partners }}
                <li><a href="{{ partner_url }}" target="_blank">
                    {{ partner_name }}
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#618B4A;}
                            .st1{fill:#618B4A;}
                        </style>
                        <path class="st0" d="M4,5H3v1v14v1h1h14h1v-1v-7h-2v6H5V7h6V5H4z"/>
                        <g>
                            <polygon class="st1" points="11.7,13.7 10.3,12.3 17.6,5 13,5 13,3 21,3 21,11 19,11 19,6.4  "/>
                        </g>
                        </svg>
                </a></li>
            {{ /partners }}
            </ul>
        </div>
        <span class="colophon">Copyright Folding Mountain Landing, {{ now|format:Y }}  |  <a href="/privacy-policy">Privacy Policy</a></span>
    </footer>
</body>
</html>