@import url(reset.css);
@import url(tabs.css);
@import url(mobile-nav.css);

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #262727;
  background: #f8f8f8;
}

/* Typography */
h1, h2, h3, h4 {
  font-family: 'swear-display', Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2rem;
}

h1 {
  font-size: calc(50px + (72 - 50) * (100vw - 580px)/(1200 - 580));
  /* line-height: calc(50px + (72 - 50) * (100vw - 580px)/(1200 - 580)); */
  line-height: 1;
}

h2 {
  font-size: calc(30px + (40 - 30) * (100vw - 580px)/(1200 - 580));
  line-height: calc(40px + (48 - 40) * (100vw - 580px)/(1200 - 580));
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 10%;
  text-transform: uppercase;
}

nav, p, li, a, span {
  font-family: 'sofia-pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 1.5rem; /* 24px */
  line-height: 2.375rem; /* 38px */
}

p a:link {
  border-style: solid;
  border-width: 0 0 1.5px 0;
  transition: all 0.5s ease-in-out;
}

p a:visited {
  border-style: dotted;
}

p a:hover {
  /* border-color: #a0ad78; */
  opacity: 0.6;
}

.text-medium,
.text-medium * {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.text-small,
.default-content p,
.default-content a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.default-content p {
  margin-bottom: 1rem;
}

.default-content h3,
.default-content h4,
.default-content h5,
.default-content h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.default-content p strong {
  font-weight: 800;
}

a.external-url {
  font-weight: 600;
  border-bottom: solid 1px #fff;
  margin: 1.5rem auto 0 0;
  padding: 0 2.5rem 0.25rem 0;
  display: inline-flex;
}

@media (max-width: 580px) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-medium,
  .text-medium * {
    line-height: 1.75rem;
  }
}

/* General Global elements */

div,
section,
nav,
ul,
li {
  display: flex;
  flex-direction: column;
}

.back-home {
  background: url("images/icon_arrow-left.svg") no-repeat left center;
  font-size: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  color: #618B4A;
  font-weight: 800 !important;
}

.default-content {
  width: 60%;
  margin: 4rem auto 9rem auto;
}

.default-content ul li {
  list-style-type: disc;
  padding-left: 1rem;
  flex-direction: row;
}

.default-content ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #262727;
  position: relative;
  top: 10px;
  left: -9px;
}

.section-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  color: #618B4A;
}

.row {
  flex-direction: row;
}

.mobile-display {
  display: none;
}

@media (max-width: 580px) {
  .mobile-display {
    display: block;
  }

  .row {
    flex-direction: column;
  }
}

/* Navigation */
.main-nav {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: linear-gradient(rgba(64, 83, 27,.2), rgba(64, 83, 27,0));
  transition: all 0.5s;
  z-index: 4;
  align-items: center;
}

.main-nav::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(64, 83, 27,1), rgba(64, 83, 27,0.97));
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.main-nav.header-scroll::before {
opacity: 1;
}

.main-nav ul {
  position: fixed;
  flex-direction: row;
  width: 90%;
  color: #fff;
  justify-content: space-evenly;
  margin: 0.5rem auto;
}

.main-nav ul li {
  width: auto;
}

.main-nav ul li:nth-child(2),
.main-nav ul li:nth-child(3),
.main-nav ul li:nth-child(4) { 
  order: -1;
}

.main-nav ul li:nth-child(1) {
  align-self: center;
  margin: 0 auto;
}

.main-nav ul li:nth-child(1) img {
  max-width: none;
}

.main-nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2.25rem;
  opacity: 1;
  transition: all 0.4s ease;
}

.main-nav ul li a:hover {
  opacity: 0.6;
}

@media (min-width: 1200px) {
  .main-nav ul {
    width: 80%;
  }
}

@media (max-width: 880px) {
  .main-nav ul {
    width: 98%;
  }

  .main-nav ul li a {
    padding: 1rem 1.25rem;
  }
}

@media (max-width: 700px) {
  .main-nav {
    display: none;
  }
}

/* Intro full screen banner/header/whatever you want to call it */

.intro-banner {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
}

.intro-banner.default {
  height: 400px;
}

.intro-banner div {
  width: 60%;
  margin: auto;
}

.intro-banner h2 {
  font-family: 'sofia-pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  position: relative;
  font-size: calc(20px + (24 - 20) * (100vw - 400px)/(1200 - 400));
  line-height: calc(22px + (38 - 22 ) * (100vw - 400px)/(1200 - 400));
}

.intro-banner h2::after,
.intro-banner h2::before {
  content: '';
  display: block;
  left: 50%;
  bottom: -3rem;
  border-style: solid;
  border-color: #fff;
  position: absolute;
  border-width: 2px 2px 0 0;
  height: 1rem;
  width: 1rem;
  position: absolute;
  transform: rotate(135deg);
}

.intro-banner h2::before {
  bottom: -2.35rem;
}

@media (max-width: 850px) {
  .intro-banner div {
    width: 75%;
  }
}

@media (max-width: 580px) {
  .intro-banner {
    height: 100vh;
  }

  .intro-banner div {
    width: calc(100% - 5rem);
  }
}

/* About Section */
.about {
  background: #40531B;
  color: #fff;
  padding: 4.5rem 0;
}

.about div.row {
  width: 80%;
  margin: 0 auto;
}

.about .section-label {
  color: #AFBC88;
  margin-right: 10%;
}

.about .content p {
  column-count: 2;
  column-gap: 1.5rem;
}

@media (max-width: 580px) {
  .about {
    padding: 3.5rem 0;
  }

  .about div.row {
    width: calc(100% - 3rem);
  }
  
  .about .content p {
    column-count: 1;
    column-gap: 0;
    line-height: 1.75rem;
  }
}

/* Partners Section */
.partners .row {
  background-color: #f2f2f2;
}

.partners nav {
  margin-bottom: 4.5rem;
  margin-left: 10%;
  width: 40%;
}

.partners nav label {
  font-family: 'swear-display', Georgia, 'Times New Roman', Times, serif;
  display: inline;
  flex-direction: row;
  position: relative;
  height: 5rem;
  line-height: 5rem;
  transition: all 0.8s cubic-bezier(.45,.13,.55,1.54);
}

.partners .section-label {
  margin-top: 4.5rem;
  width: 40%;
  margin-left: 10%;
}

.partners .container h2 {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  width: 37%;
  font-size: calc(36px + (40 - 36) * (100vw - 880px)/(1200 - 880));
  line-height: calc(32px + (48 - 32) * (100vw - 880px)/(1200 - 880));
}

.partners .content h2 {
  width: 100%;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.partners svg {
  max-width: calc(130px + (160 - 130) * (100vw - 880px)/(1200 - 880));
  margin-bottom: 2rem;
}

.partners svg * {
  fill: #fff;
}

.partners .social_media {
  flex-direction: row;
  width: 100%;
  margin: 1rem 0 1.5rem 0;
}

.partners .social_media li {
  padding: 0 0 0 1.5rem;
  margin-right: 1rem;
}

.social_media li.twitter {
  background: url("images/Twitter-white.svg") no-repeat 0 center;
}

.social_media li.facebook {
  background: url("images/Facebook-white.svg") no-repeat 0 center;
}

.social_media li.instagram {
  background: url("images/Instagram-white.svg") no-repeat 0 center;
}

.partners a.external-url {
  font-weight: 600;
  border-bottom: solid 1px #fff;
  margin: 1.5rem auto 0 0;
  padding: 0 2.5rem 0.25rem 0;
  display: inline-flex;
  background: url("images/icon_arrow-right.svg") no-repeat right 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.partners a.external-url:hover {
  opacity: 0.8;
}

.partners img.bg {
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
}

@media (max-width: 1180px) {
  .partners nav label {
    display: flex;
    flex-direction: column-reverse;
  }

  .partners nav span {
    margin: 0;
    line-height: 1;
    position: relative;
    top: 1.5rem;
  }
}

/* Fairly major adjustments of the partners section for mid-size screens */
@media (max-width: 880px) {
  .partners .row {
    padding-bottom: 4rem;
  }
  
  .partners .container {
    width: 80%;
    margin: 3.5rem auto;
  }
  
  .partners .section-label {
    margin-top: 0;
    margin-left: 0;
  }
  
  .partners .container h2 {
    margin: 0 1.5rem 1.5rem 0;
    width: 100%;
    line-height: 1;
  }

  .partners nav {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }

  .partners .content {
    width: 100%;
    margin-bottom: 0;
    flex-direction: column-reverse;
    background-color: unset;
    position: relative;
    overflow: visible;
  }

  .tabs > [type=radio] + label + * {
    width: 100%;
    order: 1;
    margin-bottom: 4rem;
    flex-direction: row-reverse;
    /* height: 100%; */
  }

  .tabs > [type=radio]:not(:checked) + label + * {
    opacity: 0;
  }

  .tabs > [type=radio]:not(:checked) + label + div.content {
    height: 0;
    margin: 0;
  }

  .partners nav label:hover,
  .tabs > [type=radio]:not(:checked) + label:hover {
    padding-left: 0;
  }
  
  .partners .content div {
    color: #262727;
    position: static;
    margin: 0;
  }

  .partners nav li:hover {
    padding-left: 0;
  }

  .partners nav li span {
    line-height: 1;
    position: absolute;
    top: 0.2rem;
    left: 0;
    margin: 0;
  }

  .partners .social_media {
    color: #618B4A;
    justify-content: start;
  }

  .partners .social_media li {
    padding-left: 1rem;
    text-indent: -9999999999px;
    margin-right: 1.25rem;
  }

  .social_media li.twitter {
    background: url("images/Twitter.svg") no-repeat 0 0;
  }

  .social_media li.facebook {
    background: url("images/Facebook.svg") no-repeat 0 0;
  }

  .social_media li.instagram {
    background: url("images/Instagram.svg") no-repeat 0 0;
  }

  .partners a.external-url {
    margin-bottom: 1.5rem;
    color: #618B4A;
    border-bottom: solid 1px #618B4A;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.2071 6.29291L23.2071 11.2929L23.9142 12L23.2071 12.7071L18.2071 17.7071L16.7929 16.2929L20.0858 13H20.0514H20.0056H19.9599H19.9142H19.8686H19.8231H19.7777H19.7324H19.6871H19.6419H19.5968H19.5517H19.5067H19.4618H19.417H19.3723H19.3276H19.283H19.2384H19.194H19.1496H19.1053H19.061H19.0168H18.9727H18.9287H18.8847H18.8408H18.797H18.7532H18.7095H18.6658H18.6223H18.5788H18.5353H18.492H18.4487H18.4054H18.3622H18.3191H18.2761H18.2331H18.1901H18.1473H18.1045H18.0617H18.0191H17.9764H17.9339H17.8914H17.849H17.8066H17.7643H17.722H17.6798H17.6376H17.5956H17.5535H17.5115H17.4696H17.4278H17.386H17.3442H17.3025H17.2609H17.2193H17.1777H17.1363H17.0948H17.0534H17.0121H16.9708H16.9296H16.8884H16.8473H16.8063H16.7652H16.7243H16.6833H16.6425H16.6016H16.5608H16.5201H16.4794H16.4388H16.3982H16.3577H16.3172H16.2767H16.2363H16.1959H16.1556H16.1153H16.0751H16.0349H15.9947H15.9546H15.9146H15.8745H15.8345H15.7946H15.7547H15.7148H15.675H15.6352H15.5955H15.5558H15.5161H15.4765H15.4369H15.3973H15.3578H15.3183H15.2788H15.2394H15.2H15.1607H15.1214H15.0821H15.0428H15.0036H14.9644H14.9253H14.8862H14.8471H14.808H14.769H14.73H14.691H14.6521H14.6132H14.5743H14.5355H14.4967H14.4579H14.4191H14.3804H14.3416H14.3029H14.2643H14.2256H14.187H14.1484H14.1099H14.0713H14.0328H13.9943H13.9559H13.9174H13.879H13.8406H13.8022H13.7638H13.7255H13.6872H13.6489H13.6106H13.5723H13.534H13.4958H13.4576H13.4194H13.3812H13.3431H13.3049H13.2668H13.2287H13.1906H13.1525H13.1144H13.0764H13.0383H13.0003H12.9623H12.9242H12.8863H12.8483H12.8103H12.7723H12.7344H12.6964H12.6585H12.6206H12.5827H12.5448H12.5069H12.469H12.4311H12.3932H12.3553H12.3175H12.2796H12.2418H12.2039H12.1661H12.1282H12.0904H12.0526H12.0147H11.9769H11.9391H11.9013H11.8635H11.8256H11.7878H11.75H11.7122H11.6744H11.6365H11.5987H11.5609H11.5231H11.4853H11.4474H11.4096H11.3718H11.3339H11.2961H11.2582H11.2204H11.1825H11.1447H11.1068H11.0689H11.031H10.9931H10.9552H10.9173H10.8794H10.8415H10.8036H10.7656H10.7277H10.6897H10.6517H10.6137H10.5758H10.5377H10.4997H10.4617H10.4236H10.3856H10.3475H10.3094H10.2713H10.2332H10.1951H10.1569H10.1188H10.0806H10.0424H10.0042H9.96595H9.9277H9.88944H9.85115H9.81284H9.77452H9.73618H9.69781H9.65942H9.62102H9.58259H9.54414H9.50567H9.46718H9.42866H9.39012H9.35155H9.31297H9.27435H9.23571H9.19705H9.15836H9.11965H9.08091H9.04214H9.00335H8.96452H8.92567H8.8868H8.84789H8.80895H8.76999H8.73099H8.69197H8.65291H8.61382H8.5747H8.53555H8.49637H8.45716H8.41791H8.37863H8.33931H8.29997H8.26058H8.22117H8.18171H8.14222H8.1027H8.06314H8.02354H7.98391H7.94424H7.90453H7.86478H7.82499H7.78517H7.7453H7.7054H7.66545H7.62547H7.58544H7.54537H7.50527H7.46511H7.42492H7.38468H7.34441H7.30408H7.26371H7.2233H7.18285H7.14235H7.1018H7.06121H7.02057H6.97988H6.93915H6.89837H6.85754H6.81667H6.77574H6.73477H6.69375H6.65268H6.61155H6.57038H6.52916H6.48788H6.44656H6.40518H6.36375H6.32227H6.28073H6.23914H6.19749H6.1558H6.11404H6.07224H6.03037H5.98845H5.94648H5.90445H5.86236H5.82021H5.77801H5.73575H5.69343H5.65105H5.60861H5.56611H5.52355H5.48094H5.43826H5.39552H5.35271H5.30985H5.26692H5.22394H5.18088H5.13777H5.09459H5.05135H5.00804H4.96467H4.92123H4.87772H4.83415H4.79052H4.74681H4.70304H4.6592H4.6153H4.57132H4.52728H4.48317H4.43898H4.39473H4.35041H4.30602H4.26155H4.21702H4.17241H4.12773H4.08298H4.03815H3.99325H3.94828H3.90323H3.85811H3.81292H3.76764H3.7223H3.67687H3.63137H3.5858H3.54014H3.49441H3.4486H3.40272H3.35675H3.3107H3.26458H3.21837H3.17209H3.12572H3.07928H3.03275H2.98614H2.93945H2.89267H2.84582H2.79887H2.75185H2.70474H2.65755H2.61027H2.56291H2.51546H2.46792H2.4203H2.37259H2.3248H2.27692H2.22895H2.18089H2.13274H2.0845H2.03618H1.98776H1.93926H1.89066H1.84197H1.79319H1.74432H1.69536H1.64631H1.59716H1.54792H1.49858H1.44915H1.39963H1.35001H1.3003H1.25049H1.20059H1.15058H1.10049H1.05029H1V11H1.05029H1.10049H1.15058H1.20059H1.25049H1.3003H1.35001H1.39963H1.44915H1.49858H1.54792H1.59716H1.64631H1.69536H1.74432H1.79319H1.84197H1.89066H1.93926H1.98776H2.03618H2.0845H2.13274H2.18089H2.22895H2.27692H2.3248H2.37259H2.4203H2.46792H2.51546H2.56291H2.61027H2.65755H2.70474H2.75185H2.79887H2.84582H2.89267H2.93945H2.98614H3.03275H3.07928H3.12572H3.17209H3.21837H3.26458H3.3107H3.35675H3.40272H3.4486H3.49441H3.54014H3.5858H3.63137H3.67687H3.7223H3.76764H3.81292H3.85811H3.90323H3.94828H3.99325H4.03815H4.08298H4.12773H4.17241H4.21702H4.26155H4.30602H4.35041H4.39473H4.43898H4.48317H4.52728H4.57132H4.6153H4.6592H4.70304H4.74681H4.79052H4.83415H4.87772H4.92123H4.96467H5.00804H5.05135H5.09459H5.13777H5.18088H5.22394H5.26692H5.30985H5.35271H5.39552H5.43826H5.48094H5.52355H5.56611H5.60861H5.65105H5.69343H5.73575H5.77801H5.82021H5.86236H5.90445H5.94648H5.98845H6.03037H6.07224H6.11404H6.1558H6.19749H6.23914H6.28073H6.32227H6.36375H6.40518H6.44656H6.48788H6.52916H6.57038H6.61155H6.65268H6.69375H6.73477H6.77574H6.81667H6.85754H6.89837H6.93915H6.97988H7.02057H7.06121H7.1018H7.14235H7.18285H7.2233H7.26371H7.30408H7.34441H7.38468H7.42492H7.46511H7.50527H7.54537H7.58544H7.62547H7.66545H7.7054H7.7453H7.78517H7.82499H7.86478H7.90453H7.94424H7.98391H8.02354H8.06314H8.1027H8.14222H8.18171H8.22117H8.26058H8.29997H8.33931H8.37863H8.41791H8.45716H8.49637H8.53555H8.5747H8.61382H8.65291H8.69197H8.73099H8.76999H8.80895H8.84789H8.8868H8.92567H8.96452H9.00335H9.04214H9.08091H9.11965H9.15836H9.19705H9.23571H9.27435H9.31297H9.35155H9.39012H9.42866H9.46718H9.50567H9.54414H9.58259H9.62102H9.65942H9.69781H9.73618H9.77452H9.81284H9.85115H9.88944H9.9277H9.96595H10.0042H10.0424H10.0806H10.1188H10.1569H10.1951H10.2332H10.2713H10.3094H10.3475H10.3856H10.4236H10.4617H10.4997H10.5377H10.5758H10.6137H10.6517H10.6897H10.7277H10.7656H10.8036H10.8415H10.8794H10.9173H10.9552H10.9931H11.031H11.0689H11.1068H11.1447H11.1825H11.2204H11.2582H11.2961H11.3339H11.3718H11.4096H11.4474H11.4853H11.5231H11.5609H11.5987H11.6365H11.6744H11.7122H11.75H11.7878H11.8256H11.8635H11.9013H11.9391H11.9769H12.0147H12.0526H12.0904H12.1282H12.1661H12.2039H12.2418H12.2796H12.3175H12.3553H12.3932H12.4311H12.469H12.5069H12.5448H12.5827H12.6206H12.6585H12.6964H12.7344H12.7723H12.8103H12.8483H12.8863H12.9242H12.9623H13.0003H13.0383H13.0764H13.1144H13.1525H13.1906H13.2287H13.2668H13.3049H13.3431H13.3812H13.4194H13.4576H13.4958H13.534H13.5723H13.6106H13.6489H13.6872H13.7255H13.7638H13.8022H13.8406H13.879H13.9174H13.9559H13.9943H14.0328H14.0713H14.1099H14.1484H14.187H14.2256H14.2643H14.3029H14.3416H14.3804H14.4191H14.4579H14.4967H14.5355H14.5743H14.6132H14.6521H14.691H14.73H14.769H14.808H14.8471H14.8862H14.9253H14.9644H15.0036H15.0428H15.0821H15.1214H15.1607H15.2H15.2394H15.2788H15.3183H15.3578H15.3973H15.4369H15.4765H15.5161H15.5558H15.5955H15.6352H15.675H15.7148H15.7547H15.7946H15.8345H15.8745H15.9146H15.9546H15.9947H16.0349H16.0751H16.1153H16.1556H16.1959H16.2363H16.2767H16.3172H16.3577H16.3982H16.4388H16.4794H16.5201H16.5608H16.6016H16.6425H16.6833H16.7243H16.7652H16.8063H16.8473H16.8884H16.9296H16.9708H17.0121H17.0534H17.0948H17.1363H17.1777H17.2193H17.2609H17.3025H17.3442H17.386H17.4278H17.4696H17.5115H17.5535H17.5956H17.6376H17.6798H17.722H17.7643H17.8066H17.849H17.8914H17.9339H17.9764H18.0191H18.0617H18.1045H18.1473H18.1901H18.2331H18.2761H18.3191H18.3622H18.4054H18.4487H18.492H18.5353H18.5788H18.6223H18.6658H18.7095H18.7532H18.797H18.8408H18.8847H18.9287H18.9727H19.0168H19.061H19.1053H19.1496H19.194H19.2384H19.283H19.3276H19.3723H19.417H19.4618H19.5067H19.5517H19.5968H19.6419H19.6871H19.7324H19.7777H19.8231H19.8686H19.9142H19.9599H20.0056H20.0514H20.0858L16.7929 7.70712L18.2071 6.29291Z' fill='%23618B4A'/%3E%3C/svg%3E%0A");
    background-position: right 0;
    background-repeat: no-repeat;
    opacity: 1;
  }

  .partners svg {
    max-width: 175px;
    max-height: 5rem;
    margin: 0 0 1.5rem 1.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .partners img.bg {
    position: static;
    height: auto;
    width: 50%;
    opacity: 1;
    margin: 0 1.5rem 0 0;
  }
}

@media (max-width: 580px) {
  .partners .container {
    width: calc(100% - 3rem);
    margin: 3.5rem auto 0 auto;
  }

  .tabs > [type=radio] + label + * {
    flex-direction: column-reverse;
  }

  .partners img.bg {
    width: 100%;
    margin: 0 0 1.5rem 0;
    max-height: 240px;
  }
  
  .partners svg {
    margin: -8rem auto 2.5rem 1.5rem;
    position: relative;
  }
}

/* Map Section */
.map {
  background-color: #fff;
}
.map .content {
  width: 80%;
  margin: 4.5rem auto 0 auto;
  z-index: 2;
}

.map h2 {
  margin: 0;
}

.map .external-url {
  color: #618B4A;
  border-color: #618B4A;
  padding: 0 0 0.4rem 0;
  transition: all 0.5s ease;
}

.map .external-url:hover {
  color: #40531B;
  border-color: #40531B;
}

.map .external-url svg {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.map a.external-url svg path {
  stroke: #618B4A;
  transition: stroke 0.5s ease;
}

.map a.external-url:hover svg path {
  stroke: #40531B;
}

#map_visual {
  position: relative;
  margin-top: -4.5rem;
}

#map_visual .marker {
  position: absolute;
  bottom: 10%;
  left: 10%;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 2.75rem;
  margin: 0;
  background: #fff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  line-height: 0.8;
}

#map_visual .marker::before {
  content: "";
  position: absolute;
  top: 0.85rem;
  left: 0.75rem;
  background: #618B4A;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
}

#map_visual .marker img {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  background: #618B4A;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

@media (max-width: 580px) {
  #map_visual {
    margin-top: 1.5rem;
    padding-bottom: 4.5rem;
  }

  #map_visual .marker {
    order: 2;
    position: relative;
    background: none;
    box-shadow: none;
    justify-content: left;
    height: unset;
    margin: 1.75rem 0 1.75rem 1.5rem;
    top: 0 !important;
    left: 0 !important;
    padding-left: 4rem;
  }

  #map_visual .marker img,
  #map_visual .marker::before {
    top: -0.8rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
  }
  
  #map_visual .marker::before {
    position: absolute;
    content: "";
    background: #000;
    opacity: 1;
  }

  #map_visual .marker span {
    background: none;
    position: absolute;
    left: 0.4rem;
    top: -0.4rem;
    color: #fff;
    z-index: 1;
    box-shadow: none;
  }

  #map_visual div {
    position: relative;
  }

  #map_visual span {
    position: absolute;
    background: #fff;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    width: 2.25rem;
    height: 2.25rem;
    text-align: center;
    line-height: 2rem;
    font-family: 'swear-display', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
  }

  #map_visual img {
    order: 1;
    margin-bottom: 2rem;
  }
}

/* Area Section */
.area {
  background-color: #AFBC88;
  box-shadow: inset 0 -9rem #fff;
}

.area .content {
  width: 80%;
  margin: 0 auto 0 auto;
  color: #262727;
  flex-direction: row;
  justify-content: space-between;
}

.area h2 {
  width: 45%;
  margin-bottom: 0;
  margin-right: 1.5rem;
}

.area .content div {
  width: 55%;
}

.area .content div p {
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.area .section-label {
  color: #40531B;
  width: 100%;
  margin: 4.5rem 10% 0 10%;
}

.gallery {
  width: 100%;
  margin-top: 3.5rem;
  max-height: 620px !important;
  position: relative;
}
 
.gallery div.slide-item {
  margin: 0 0.75rem;
  max-width: 70% !important;
}

.gallery img {
  object-fit: cover;
  max-height: 620px;
}

.gallery button {
  position: absolute;
  background: #fff;
  z-index: 1;
  right: 20%;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  text-indent: -9999999px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button.slick-prev {
  right: calc(20% + 3.5rem);
}

.gallery button::before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  top: 2rem;
  left: 2rem;
  border-style: solid;
  border-color: #618B4A;
  border-width: 2px 2px 0 0;
  position: absolute;
  transform-origin: 50% 50%;
}

button::after {
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: #618B4A;
  position: absolute;
  transform-origin: 50% 50%;
}

button.slick-prev::before {
  transform: rotate(-135deg);
  margin: -15px 0 0 -18px;
}

button.slick-prev::after { 
  width: 1.25rem;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-11px, 0px);
}

button.slick-next::before { 
  transform: rotate(45deg); 
  margin: -15px 0 0 -15px;
}

button.slick-next::after { 
  width: 1.25rem;
  height: 0;
  border-width: 2px 0 0 0;
  transform: translate(-11px, 0px);
}

@media (max-width: 580px) {
  .area {
    box-shadow: inset 0 -6rem #fff;
  }
  
  .area .section-label {
    margin: 4rem 1.5rem 0.5rem 1.5rem;
  }

  .area .content {
    width: calc(100% - 3rem);
    flex-direction: column;
  }
  
  .area h2 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  
  .area .content div {
    width: 100%;
  }

  .gallery {
    margin-top: 2.5rem;
  }
  
  .gallery button {
    right: 1.5rem;
  }

  button.slick-prev {
    right: 5rem;
  }

  .gallery div.slide-item {
    margin: 0 0.25rem;
  }

  .gallery,
  .gallery img {
    max-height: 250px !important;
  }
}

/* Socials Section */
.social {
  margin: 8.75rem 0 0 0;
}

.social h2,
.social span {
  width: 70%;
  margin-left: 17%;
}

.social .grid {
  display: grid;
  grid-template-columns: 16% 14% 19% 23% 23%;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.grid div {
  align-self: flex-end;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  height: unset;
  overflow: hidden;
}

.social span.username {
  position: absolute;
  z-index: 2;
  bottom: 0.25rem;
  left: 0.75rem;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 0 0 0 1.35rem;
  margin: 0;
  background: url("images/Instagram-white.svg") no-repeat left center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.grid div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 35.96%);
  z-index: 2;
}

/* .grid div:nth-child(1) {
  padding-top: 16rem;
} */

.grid div:nth-child(2) {
  grid-column: 2 / span 2;
}

.grid div:nth-child(5) {
  grid-column: 2;
  align-self: flex-start;
}

.grid div:nth-child(3),
.grid div:nth-child(7) {
  /* position: relative; */
  top: -13rem;
}

/* .grid div:nth-child(3) span.username,
.grid div:nth-child(7) span.username {
  bottom: 11rem;
} */

.grid div:nth-child(4),
.grid div:nth-child(8) {
  /* position: relative; */
  top: -4rem;
}

.grid div:nth-child(n+6) {
  align-self: start;
}

.grid div:last-child {
  width: 50%;
  padding-bottom: 50%
}

.grid div:last-child span.username {
  bottom: 0;
}

@media (max-width: 1180px) {
  .grid div:nth-child(3),
  .grid div:nth-child(7) {
    top: -11rem;
  }
}

@media (max-width: 880px) {
  .social h2 {
    font-size: 2rem;
  }

  .grid div:nth-child(3),
  .grid div:nth-child(7) {
    top: -9rem;
  }
}

@media (max-width: 720px) {
  .social {
    margin: 3.5rem 0;
  }

  .social .row {
    overflow: hidden;
    width: 100%;
  }
  
  .social .grid {
    margin: 0 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .social .grid div {
    position: relative;
    top: 0;
    bottom: 0;
    grid-column: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
  }

  .social h2, .social span {
    margin-left: 1.5rem;
    width: 100%;
  }
}

/* Footer Section */

footer {
  width: 80%;
  margin: 0 auto;
}

footer .row {
  border-bottom: 1px solid #AFBC88;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

footer .row div {
  width: 40%;
  margin-right: 2%;
}

footer h2 {
  width: 98%;
  font-size: calc(26px + (40 - 26) * (100vw - 400px)/(1200 - 580));
  line-height: calc(32px + (48 - 32) * (100vw - 400px)/(1200 - 580));
  padding-right: 1rem;
}

footer ul {
  width: 58%;
  display: block;
  column-count: 2;
  column-gap: 4rem;
}

footer ul li a {
  font-family: 'swear-display', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.45rem;
  font-weight: 500;
  padding: 0.5rem 0;
  white-space: nowrap;
}

footer ul li svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.15rem;
  position: relative;
  top: 3px;
}

footer ul li a:hover svg * {
  fill: #618B4A;
  transition: fill 0.5s ease;
}

footer ul li a:hover svg * {
  fill: #40531B;
}

footer .colophon {
  display: flex;
  margin: 1.5rem auto;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  justify-content: center;
}

footer .colophon a {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  margin-left: 0.25rem;
}

@media (max-width: 1270px) {
  footer .row div {
    width: 35%;
  }

  footer ul {
    width: 63%;
  }

  footer ul li svg {
    width: 1.25rem;
    height: 1.25rem;
    top: -3px;
    margin-left: 0;
  }
}

@media (max-width: 1110px) {
  footer ul li svg {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 1080px) {
  footer .row {
    justify-content: unset;
    align-items: unset;
  }

  footer .row div {
    width: 50%;
  }

  footer ul {
    column-count: 1;
    width: auto;
  }

  footer ul li a {
    padding: 0.1rem 0;
  }
}

@media (max-width: 580px) {
  footer {
    width: calc(100% - 3rem);
  }

  footer .row div {
    width: 100%;
    margin: 0;
  }

  footer h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  footer ul {
    width: 100%;
    column-count: 1;
  }

  footer ul li a {
    padding: 0.5rem 0;
  }
}